<%- include ("partials/header.ejs") %>
<script>document.title = "Information"</script>
    <div style="display: flex; flex-direction: column; align-items: center;">
        <p style="font-size: 250px; color: #FFCD29; font-weight: bold;">404</p>
        <p style="font-size: 40px; color: #FFCD29; font-weight: bold;">Beep. Boop. There's nothing here!</p>
        <div class="hero-cta">
            <a href="/" class="primary-button" style="color: var(--bg);">Go Back Home</a>
        </div>
    </div>
</div>
</body>
</html>