<%- include ("partials/header.ejs") %>
<script>document.title="Basal Cell Carcinoma"</script>
<div id="homeContent">
    <div id="content">
        <div id="featured">
            <h1 class = "post caption">Basal Cell Carcinoma</h1>
            <p class="text">Basal cell carcinoma (BCC) is the most common form of skin cancer and the most frequently occurring form of all cancers. In the U.S. alone, an estimated 3.6 million cases are diagnosed each year. BCCs arise from abnormal, uncontrolled growth of basal cells.</p>
            <p class="text">Because BCCs grow slowly, most are curable and cause minimal damage when caught and treated early. Understanding BCC causes, risk factors and warning signs can help you detect them early, when they are easiest to treat and cure.</p>
            <p class="text">One of three main types of cells in the top layer of the skin, basal cells shed as new ones form. BCC most often occurs when DNA damage from exposure to ultraviolet (UV) radiation from the sun or indoor tanning triggers changes in basal cells in the outermost layer of skin (epidermis), resulting in uncontrolled growth.</p>
            <img class="illustration" src="https://cdcssl.ibsrv.net/cimg/www.officiteaadeducationlibrary.smb/580x290_60/6/shutterstock-1639873987-672922-690006.jpg" alt="Picture of Basal Cell Carcinoma">
            <h4 class="largeCaption">Symptoms</h4>
            <p class="text">BCCs can look like open sores, red patches, pink growths, shiny bumps, scars or growths with slightly elevated, rolled edges and/or a central indentation. At times, BCCs may ooze, crust, itch or bleed. The lesions commonly arise in sun-exposed areas of the body. In patients with darker skin, about half of BCCs are pigmented (meaning brown in color).</p>
            <p class="text">Check for BCCs where your skin is most exposed to the sun, especially the face, ears, neck, scalp, chest, shoulders and back, but remember that they can occur anywhere on the body. Frequently, two or more of these warning signs and symptoms are apparent in a BCC tumor:</p>
            <ul class="text">
                <li>An open sore that does not heal, and may bleed, ooze or crust. The sore might persist for weeks, or appear to heal and then come back.
                </li>
                <li>A reddish patch or irritated area, on the face, chest, shoulder, arm or leg that may crust, itch, hurt or cause no discomfort.
                </li>
                <li>A shiny bump or nodule that is pearly or clear, pink, red or white. The bump can also be tan, black or brown, especially in people of color, and can be mistaken for a normal mole.</li>
                <li>A small pink growth with a slightly raised, rolled edge and a crusted indentation in the center that may develop tiny surface blood vessels over time.</li>
                <li>A scar-like area that is flat white, yellow or waxy in color. The skin appears shiny and taut, often with poorly defined borders. This warning sign may indicate an invasive BCC.</li>
            </ul>
            <p class="text">Keep in mind that BCCs can look different from the descriptions above. In some people, BCCs resemble noncancerous skin conditions such as psoriasis or eczema. In people with darker skin, about half of BCCs are pigmented (meaning brown in color).</p>
            <h4 class="largeCaption">Treatments</h4>
            <p class="text">When detected early, most basal cell carcinomas (BCCs) can be treated and cured. Prompt treatment is vital, because as the tumor grows, it becomes more dangerous and potentially disfiguring, requiring more extensive treatment. Certain rare, aggressive forms can be fatal if not treated promptly.</p>
            <p class="text">If you’ve been diagnosed with a small or early BCC, a number of effective treatments can usually be performed on an outpatient basis, using a local anesthetic with minimal pain. Afterwards, most wounds can heal naturally, leaving minimal scarring. Options include:</p>
            <ul class="text">
                <li>Curettage and electrodesiccation (electrosurgery)</li>
                <li>Mohs surgery</li>
                <li>Excisional surgery</li>
                <li>Radiation therapy</li>
                <li>Photodynamic therapy</li>
                <li>Cryosurgery</li>
                <li>Laser surgery</li>
                <li>Topical medications</li>
            </ul>
            <h6 class="cite">cite: www.skincancer.org/</h6>
        </div>
        
<%- include ("partials/footer.ejs") %>  