<%- include ("partials/header.ejs") %>
    <script>document.title = "Basal Cell Carcinoma"</script>
    <div id="homeContent">
        <div id="content">
            <div id="featured">
                <h1 class="post caption">Basal Cell Carcinoma</h1>
                <p class="text">A dermatofibroma is a common benign fibrous nodule usually found on the skin of the
                    lower legs.</p>
                <p class="text">A dermatofibroma is also called a cutaneous fibrous histiocytoma.</p>
                <p class="text">Dermatofibromas are mostly seen in adults. People of every ethnicity can develop
                    dermatofibromas. Ordinary dermatofibromas are more common in women than in men, although some
                    histologic variants are more commonly identified in males.</p>
                <p class="text">It is not clear if dermatofibroma is a reactive process or a true neoplasm. The lesions
                    are composed of proliferating fibroblasts. Histiocytes may also be involved.</p>
                <p class="text">They are sometimes attributed to minor trauma including insect bites, injections, or a
                    rose thorn injury, but not consistently. Multiple dermatofibromas can develop in patients with
                    altered immunity such as HIV, immunosuppression, or autoimmune conditions.</p>
                <img class="illustration"
                    src="https://uploads-ssl.webflow.com/5ff522e90d3635b8dc61c25e/5ff522e90d36350a5061c302_shutterstock_1347781919.jpg"
                    alt="Picture of Dermatofibroma">
                <h4 class="largeCaption">Symptoms</h4>
                <p class="text">A dermatofibroma usually presents as a solitary firm papule or nodule on a limb.</p>
                <ul class="text">
                    <li>A dermatofibroma usually presents as a solitary firm papule or nodule on a limb.</li>
                    <li>Dermatofibroma size varies from 0.5–1.5 cm diameter; most lesions are 7–10 mm diameter.</li>
                    <li>The overlying skin dimples on pinching the lesion – the dimple or pinch sign.</li>
                    <li>Colour may be pink to light brown in white skin, and dark brown to black in dark skin; some appear paler in the centre.</li>
                    <li>Dermatofibromas do not usually cause symptoms, but they are sometimes painful, tender, or itchy.</li>
                </ul>
                <p class="text">Dermatofibromas do not usually cause symptoms, but they are sometimes painful, tender, or itchy.</p>
                <h4 class="largeCaption">Treatments</h4>
                <p class="text">A dermatofibroma is harmless and seldom causes any symptoms. Usually, only reassurance is needed. If it is nuisance or causing concern, the lesion can be removed surgically. Recurrence is common as the lesion often extends beyond the clinical margin.</p>
                <p class="text">Cryotherapy, shave biopsy and laser treatments are rarely completely successful.</p>
                <h6 class="cite">cite: www.dermnetnz.org/</h6>
            </div>

            <%- include ("partials/footer.ejs") %>