<%- include ("partials/header.ejs") %>
<script>document.title="Hemangioma"</script>
<div id="homeContent">
    <div id="content">
        <div id="featured">
            <h1 class = "post caption">Hemangioma</h1>
            <p class="text">A hemangioma (he-man-jee-O-muh), also known as an infantile hemangioma or hemangioma of infancy, is a bright red birthmark. It looks like a rubbery bump or flat red patch and is made up of extra blood vessels in the skin. The mark shows up at birth or in the first month of life.</p>
            <p class="text">A hemangioma typically appears on the face, scalp, chest or back, though it can be anywhere on the skin. Treatment generally isn't needed for a baby's hemangioma, as the mark fades over time. Typically, there is little trace of it by age 10. You may want to think about treatment for the child if a hemangioma leads to problems with vision, breathing or other bodily functions. You also may think about treatment if the hemangioma is in a cosmetically sensitive area.</p>
            <img class = "illustration" src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/08/26/10/02/ds00848_im00306_ans7_strawberry_hemangioma_jpg.jpg" alt="Picture of Hemangioma">
            <h4 class="largeCaption">Symptoms</h4>
            <p class="text">A hemangioma may be visible at birth, but it appears more often during the first month of life. It starts as a flat red mark on the body, most often on the face, scalp, chest or back. A child generally only has one mark, but some children may have more than one mark.</p>
            <p class="text">During your child's first year, the red mark may grow rapidly into a spongy, rubbery-looking bump that sticks out from the skin. The hemangioma then enters a rest phase. Then it will begin to slowly go away.</p>
            <p class="text">Many hemangiomas go away by age 5, and most go away by age 10. The skin may be slightly discolored or raised after the hemangioma goes away.</p>
            <h4 class="largeCaption">Treatments</h4>
            <p class="text">Treating hemangiomas generally isn't necessary because they go away on their own with time. Some hemangiomas can affect important structures or are of cosmetic concern due to size or location. If a hemangioma causes problems, treatments include:</p>
            <ul class="text">
                <li>Beta blocker medicines</li>
                <li>Corticosteroid medicines</li>
                <li>Laser surgery.</li>
            </ul>
            <p class="text">If you're considering treatment for your child's hemangioma, talk with your child's health care provider. Remember that most infantile hemangiomas go away on their own and treatments could have side effects.</p>
            <h6 class="cite">cite: www.mayoclinic.org/</h6>
        </div>
        
<%- include ("partials/footer.ejs") %>          