<%- include ("partials/header.ejs") %>
<script>document.title="Melanocytic Nevus"</script>
<div id="homeContent">
    <div id="content">
        <div id="featured">
            <h1 class = "post caption">Melanocytic Nevus</h1>
            <p class="text">Melanocytic nevus is the medical term for a mole. Nevi can appear anywhere on the body. They are benign (non-cancerous) and typically do not require treatment. A very small percentage of melanocytic nevi may develop a melanoma within them. Of note, the majority of cutaneous melanomas arise within normally appearing skin.</p>
            <p class="text">Nevi begin to appear during childhood and increase in number until early to mid-adulthood.</p>
            <p class="text">Melanocytic nevi are a reflection of genetic factors, such as family history, and environmental factors—primarily, sun exposure.</p>
            <img class = "illustration" src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/38/ds00121_-ds00439_im01637_r7_molethu_jpg.jpg" alt="Picture of Melanocytic Nevus">
            <h4 class="largeCaption">Symptoms</h4>
            <p class="text">Melanocytic nevi are benign tumors that that arise in the skin. They have different sizes and colors.</p>
            <p class="text">clinical characteristics of melanocytic nevi:</p>
            <ul class="text">
                <li>Tan to dark brown, pale pink, and occasionally black in color</li>
                <li>Round or oval in shape</li>
                <li>Smooth borders</li>
                <li>Uniform color throughout</li>
                <li>Symmetry (when a line is drawn within them, the two halves have the same appearance)</li>
            </ul>
            <p class="text">As melanocytic nevi age, they often become lighter in color. They may also elevate but should become softer to the touch.</p>
            <h4 class="largeCaption">Treatments</h4>
            <p class="text">The majority of melanocytic nevi do not require treatment. Nevi that are benign but bothersome to the patient because of appearance or irritation can be removed. Moles are removed by the shave technique or suture surgery.</p>
            <p class="text">Atypical melanocytic nevi are biopsied when the clinician is concerned about the possibility of cutaneous melanoma.</p>
            <h6 class="cite">cite: www.yalemedicine.org/</h6>
        </div>
        
<%- include ("partials/footer.ejs") %>  