<%- include ("partials/header.ejs") %>
<script>document.title="Melanoma"</script>
<div id="homeContent">
    <div id="content">
        <div id="featured">
            <h1 class = "post caption">Melanoma</h1>
            <p class="text">Melanoma, the most serious type of skin cancer, develops in the cells (melanocytes) that produce melanin — the pigment that gives your skin its color. Melanoma can also form in your eyes and, rarely, inside your body, such as in your nose or throat.</p>
            <p class="text">The exact cause of all melanomas isn't clear, but exposure to ultraviolet (UV) radiation from sunlight or tanning lamps and beds increases your risk of developing melanoma. Limiting your exposure to UV radiation can help reduce your risk of melanoma.</p>
            <p class="text">The risk of melanoma seems to be increasing in people under 40, especially women. Knowing the warning signs of skin cancer can help ensure that cancerous changes are detected and treated before the cancer has spread. Melanoma can be treated successfully if it is detected early.</p>
            <img class="illustration" src = "https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/38/ds00190_-ds00439_im01723_r7_skincthu_jpg.jpg" alt = "Picture of Melanoma">
            <h4 class="largeCaption">Symptoms</h4>
            <p class="text">Melanomas can develop anywhere on your body. They most often develop in areas that have had exposure to the sun, such as your back, legs, arms and face.</p>
            <p class="text">Melanomas can also occur in areas that don't receive much sun exposure, such as the soles of your feet, palms of your hands and fingernail beds. These hidden melanomas are more common in people with darker skin.</p>
            <p class="text">The first melanoma signs and symptoms often are:</p>
            <ul class="text">
                <li>A change in an existing mole</li>
                <li>The development of a new pigmented or unusual-looking growth on your skin</li>
            </ul>
            <p class="text">Melanoma doesn't always begin as a mole. It can also occur on otherwise normal-appearing skin.</p>
            <h4 class="largeCaption">Treatments</h4>
            <p class="text">Make an appointment with your doctor if you notice any skin changes that seem unusual.</p>
            <h3 class="smallCaption">Treatment for small melanomas</h3>
            <p class="text">Treatment for early-stage melanomas usually includes surgery to remove the melanoma. A very thin melanoma may be removed entirely during the biopsy and require no further treatment. Otherwise, your surgeon will remove the cancer as well as a border of normal skin and a layer of tissue beneath the skin. For people with early-stage melanomas, this may be the only treatment needed.</p>
            <h3 class="smallCaption">Treating melanomas that have spread beyond the skin</h3>
            <p class="text">If melanoma has spread beyond the skin, treatment options may include:</p>
            <ul class="text">
                <li>Surgery to remove affected lymph nodes</li>
                <li>Immunotherapy</li>
                <li>Targeted therapy</li>
                <li>Radiation therapy</li>
                <li>Chemotherapy</li>
            </ul>
            <h6 class="cite">cite: www.mayoclinic.org</h6>
        </div>
<%- include ("partials/footer.ejs") %>
