<%- include ("partials/header.ejs") %>
    <script>document.title = "Port Wine Stain"</script>
    <div id="homeContent">
        <div id="content">
            <div id="featured">
                <h1 class="post caption">Port Wine Stain</h1>
                <p class="text">A port wine stain is a permanent birthmark. It’s a smooth, flat, pink, red or purple patch on a newborn that may get darker and raised or bumpy over time.</p>
                <p class="text">A port wine stain usually appears on the face but can affect other areas of the body.</p>
                <p class="text">The condition gets its name because it looks like someone spilled or splashed dark red wine on the skin. It’s also called nevus flammeus.</p>
                <p class="text">About 3 of every 1,000 babies have a port wine stain. The condition affects babies assigned male at birth (AMAB) and babies assigned female at birth (AFAB) of all racial groups.</p>
                <p class="text">Port wine stains don’t go away without treatment.</p>
                <p class="text">Over time, port wine stains usually get darker and thicker. They also may become raised rather than flat and smooth.</p>
                <img class="illustration"
                    src="https://cdn.mdedge.com/files/s3fs-public/Image/April-2018/portwinestain_web.jpg"
                    alt="Picture of Seborrheic Keratoses">
                <h4 class="largeCaption">Symptoms</h4>
                <p class="text">Port wine stains result from abnormally formed capillaries (tiny blood vessels under your skin). The capillaries dilate, which means they’re more open or stretched out than normal.</p>
                <p class="text">A port wine stain is a pink, red or purplish splotch on the skin. It has clear borders where the birthmark starts and stops.</p>
                <p class="text">These birthmarks can occur anywhere on the body, but most commonly on the:</p>
                <ul class="text">
                    <li>Face</li>
                    <li>Neck</li>
                    <li>Scalp</li>
                </ul>
                <p class="text">In children, port wine stains are usually smooth. As a child grows, the birthmark grows too, but it stays in proportion. Port wine stains may get thicker and darker over time and start to feel like pebbles under the skin. They also may be more likely to bleed after injury, which can be difficult to control.</p>
                <p class="text">Port wine stains are usually harmless and don’t lead to any medical problems or pain. But for many children and teenagers, the birthmarks can be embarrassing, especially large, dark spots on the face. This can lead to problems with self-esteem and socialization.</p>
                <h4 class="largeCaption">Treatments</h4>
                <p class="text">Port wine stains that aren’t associated with other medical concerns don’t require medical treatment. But some people choose treatment because of:</p>
                <ul class="text">
                    <li>Increased risk of bleeding with trauma and associated risk of infections.</li>
                    <li>Potential for thick, bumpy skin and disfigurement later in life.</li>
                    <li>Self-esteem and socialization.</li>
                </ul>
                <p class="text">The most common treatment is laser therapy to shrink the blood vessels and fade the birthmark. The treatments are most effective in younger patients when the blood vessels are smaller.</p>
                <p class="text">Laser therapy treatments are brief, lasting a few minutes. Most people get repeat treatments every couple of months. The laser may make the skin red and sore, like a sunburn. If the treatments are very uncomfortable, you can ask for a numbing spray or cream. Very young children may even receive general anesthesia, so they sleep through the treatments.</p>
                <h6 class="cite">cite: www.clevelandclinic.org</h6>
            </div>

            <%- include ("partials/footer.ejs") %>