<%- include ("partials/header.ejs") %>
    <script>document.title = "Seborrheic Keratoses"</script>
    <div id="homeContent">
        <div id="content">
            <div id="featured">
                <h1 class="post caption">Seborrheic Keratoses</h1>
                <p class="text">A seborrheic keratosis (seb-o-REE-ik ker-uh-TOE-sis) is a common noncancerous (benign) skin growth. People tend to get more of them as they get older.</p>
                <p class="text">Seborrheic keratoses are usually brown, black or light tan. The growths (lesions) look waxy or scaly and slightly raised. They appear gradually, usually on the face, neck, chest or back.</p>
                <p class="text">Seborrheic keratoses are harmless and not contagious. They don't need treatment, but you may decide to have them removed if they become irritated by clothing or you don't like how they look.</p>
                <p class="text">Seborrheic keratoses are usually round or oval and range in color from light tan to black. They can develop as a single growth or in clusters.</p>
                <img class="illustration"
                    src="https://assets.mayoclinic.org/content/dam/media/global/images/2023/02/08/close-up-of-seborrheic-keratoses.jpg"
                    alt="Picture of Seborrheic Keratoses">
                <h4 class="largeCaption">Symptoms</h4>
                <p class="text">A seborrheic keratosis grows gradually. Signs and symptoms might include:</p>
                <ul class="text">
                    <li>A round or oval-shaped waxy or rough bump, typically on the face, chest, a shoulder or the back</li>
                    <li>A flat growth or a slightly raised bump with a scaly surface, with a characteristic "pasted on" look</li>
                    <li>Varied size, from very small to more than 1 inch (2.5 centimeters) across</li>
                    <li>Varied number, ranging from a single growth to multiple growths</li>
                    <li>Very small growths clustered around the eyes or elsewhere on the face, sometimes called flesh moles or dermatosis papulosa nigra, common on Black or brown skin</li>
                    <li>Varied in color, ranging from light tan to brown or black</li>
                    <li>Itchiness</li>
                </ul>
                <h4 class="largeCaption">Treatments</h4>
                <p class="text">A seborrheic keratosis typically doesn't go away on its own, but treatment isn't needed. You might choose to have it removed if it becomes irritated or bleeds, or if you don't like how it looks or feels.</p>
                <p class="text">Seborrheic keratosis removal can be achieved with one or a combination of the following methods:</p>
                <ul class="text">
                    <li>Cryotherapy</li>
                    <li>Curettage</li>
                    <li>Electrocautery</li>
                </ul>
                <p class="text">Talk with your doctors about the risks and benefits of each method. Some methods can cause permanent or temporary skin discoloration and scarring. After treatment, you might develop a new seborrheic dermatosis elsewhere on your body.</p>
                <h6 class="cite">cite: www.mayoclinic.org</h6>
            </div>

            <%- include ("partials/footer.ejs") %>