<%- include ("partials/header.ejs") %>
<script>document.title="Skin lesion"</script>
<div id="homeContent">
    <div id="content">
        <div id="featured">
            <h1 class = "post caption">Skin lesion</h1>
            <p class="text">Skin lesions are any area of your skin that’s abnormal from the skin around it. Skin lesions are common and are often the result of an injury or damage to your skin, but some have the potential to be cancerous.</p>
            <p class="text">Skin lesions are areas of your skin that are different from the skin around them. Skin lesions are common and may be the result of an injury or damage to your skin, like sunburn. They’re sometimes a sign of underlying conditions, like infections or autoimmune diseases. The majority of skin lesions are noncancerous and harmless (benign), but they can be a sign of something more serious.</p>
            <h4 class="largeCaption">Who do skin lesions affect?</h4>
            <p class="text">Skin lesions affect everyone. Some lesions appear at birth (congenital) and pose no threat to your well-being (freckles, many types of moles). If you have allergies, you can get skin lesions if you come in contact with allergens that you’re sensitive to. If you have chronic conditions, like psoriasis, you’re likely to experience recurring skin lesions in your lifetime.</p>
            <h4 class="largeCaption">How do we classify skin lesions?</h4>
            <p class="text">One way of dividing skin lesions is primary versus secondary. Primary lesions are changes in your skin that aren’t associated with other conditions and include:</p>
            <ul class="text">
                <li>A flat mark on your skin of a different color than your skin tone (macule or patch).</li>
                <li>An elevated, pimple-like bump (papule or plaque).</li>
                <li>An elevated, solid bump (nodule).</li>
                <li>A blister filled with fluid or blood (vesicle or bulla).</li>
                <li>An elevated pimple filled with pus or white fluid (pustule).</li>
                <li>An elevated bump that extends below the skin’s surface that’s filled with thick, yellow fluid (keratin cyst).</li>
            </ul>
            <p class="text">Examples of primary skin lesions include acne, birthmarks, insect bites and sunburn.</p>
            <p class="text">Secondary lesions are changes in a primary lesion. This can happen because of itching, another direct injury or a skin lesion that shows up as part of a more complex, underlying condition. Secondary lesions include:</p>
            <ul class="text">
                <li>A flat mark on your skin of a different color than your skin tone (macule or patch).</li>
                <li>Thin, wrinkled skin (atrophy).</li>
                <li>Dried fluid around a wound (crust).</li>
                <li>Deflated, wrinkled skin (erosion).</li>
                <li>Painful breaks in the skin (fissure).</li>
                <li>Flaky, peeling skin (scale).</li>
                <li>Pale or red raised skin tissue (scar).</li>
                <li>Open sore (ulcer).</li>
            </ul>
            <p class="text">Examples of secondary lesions include scabbing, cuts and scrapes due to itching or dry skin from psoriasis or allergies.</p>
            <h4 class="largeCaption">Where are skin lesions located?</h4>
            <p class="text">Skin lesions appear anywhere on your body. The type of skin lesion varies by location. For example, acne and eczema are skin lesions that occur in a particular pattern.</p>
            <h4 class="largeCaption">How common are skin lesions?</h4>
            <p class="text">Noncancerous (benign) skin lesions are very common (for example, sunburn or acne).</p>
            <p class="text">Cancerous skin lesions (skin cancer) are the most common type of cancer in the United States. 1 in 5 people will develop skin cancer in their lifetime, with an estimated 9,500 people diagnosed daily.</p>
            <h6 class="cite">cite: www.clevelandclinic.org/</h6>
        </div>
<%- include ("partials/footer.ejs") %>
