<%- include ("partials/header.ejs") %>
<script>document.title="Solar lentigo"</script>
<div id="homeContent">
    <div id="content">
        <div id="featured">
            <h1 class = "post caption">Solar lentigo</h1>
            <p class="text">Solar lentigo is a harmless patch of darkened skin. It results from exposure to ultraviolet (UV) radiation, which causes local proliferation of melanocytes and accumulation of melanin within the skin cells (keratinocytes). Solar lentigos or lentigines are very common, especially in people over the age of 40 years. Sometimes they are also known as an “old age spot” or “senile freckle”.</p>
            <img class="illustration" src = "https://www.medwebplus.com/wp-content/uploads/2020/02/Solar-Lentigo.jpg" alt = "Picture of Solar lentigo">
            <h4 class="largeCaption">Symptoms</h4>
            <p class="text">A solar lentigo is a flat, well-circumscribed patch. It can be round, oval or irregular in shape. Colour varies from skin-coloured, tan to dark brown or black, and size varies from a few millimetres to several centimetres in diameter. They can be slightly scaly.</p>
            <p class="text">Solar lentigines are found as groups of similar lesions on sun-exposed sites, particularly the face or the back of hands. They occur in light and dark skin, but tend to be more numerous in fair-skinned individuals.</p>
            <h4 class="largeCaption">Treatments</h4>
            <p class="text">If left untreated, solar lentigo will most likely persist indefinitely. Cryotherapy and laser surgery can destroy them, but treatment may leave a temporary or permanent white or dark mark.</p>
            <p class="text">Cysteamine cream hyperpigmentation treatment has been used. Bleaching agents such as hydroquinone are not effective. </p>
            <p class="text">Preventative measures include minimizing sun exposure and use of sunscreens, but this needs to start early in life.</p>
            <h6 class="cite">cite: www.dermnetnz.org</h6>
        </div>
<%- include ("partials/footer.ejs") %>
