<%- include ("partials/header.ejs") %>
<script>document.title="Venous lake"</script>
<div id="homeContent">
    <div id="content">
        <div id="featured">
            <h1 class = "post caption">Venous lake</h1>
            <p class="text">A venous lake is a common bluish soft macule or papule due to vascular dilatation. It is most often seen on the lower lip.</p>
            <p class="text">A venous lake is most often diagnosed in middle-aged or older men and women of any race.</p>
            <p class="text">The cause of venous lake is unknown.</p>
            <img class = "illustration" src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Venous_lake_1.jpg" alt="Picture of Venous lake">
            <h4 class="largeCaption">Symptoms</h4>
            <p class="text">A venous lake is a soft, squashable, blue or purple macule or papule, that is 0.2–1 cm in diameter. Although they may arise anywhere, most venous lakes are diagnosed on the lower lip (on the vermilion margin or mucosal surface), on an earlobe, or elsewhere on the face, neck, or upper trunk.</p>
            <h4 class="largeCaption">Treatments</h4>
            <p class="text">A venous lake is harmless and does not require treatment. A lesion that is unsightly can be removed by destroying the lesion. This causes a temporary scab, and the procedure may result in a scar. Treatments to remove a venous lake include:</p>
            <ul class="text">
                <li>Cryotherapy</li>
                <li>Electrocautery</li>
                <li>Sclerotherapy</li>
                <li>Sclerotherapy</li>
                <li>Vascular laser.</li>
            </ul>
            <p class="text">Surgical excision is rarely necessary and inevitably leaves a scar.</p>
            <h6 class="cite">cite: www.dermnetnz.org/</h6>
        </div>
        
<%- include ("partials/footer.ejs") %>  